src/main/mule/getAllStudents.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAllStudentsFlow" doc:id="289b170c-674c-4616-bf26-374a5abb2789" >
		<db:select doc:name="Select" doc:id="474bc22f-4e3b-4e33-9901-ddfb4c0efc3b" config-ref="Database_Config">
			<db:sql >SELECT * FROM studentdata;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7ed500ab-663b-4159-bdc3-83e7994d2d01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
  "number": $.number,
  "name": $.name,
  "address": $.address,
  "class": $.class,
  "age": $.age,
  "gender": $.gender
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="299fc346-8a9d-4cd1-91e2-b52360bae1a2" message="all students data&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; #[payload]"/>
	</flow>
</mule>
