src/main/mule/saveStudent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="saveStudentFlow" doc:id="78fff0af-dfd5-4f88-bf2e-ee00854c0707" >
		<logger level="INFO" doc:name="Logger" doc:id="847b39d8-ef61-4655-a1f6-74fdc7d7941a" message="database request payload &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; #[payload]"/>
		<db:insert doc:name="Insert" doc:id="b2e4d08a-e456-41e2-842a-b1abc4256a16" config-ref="Database_Config">
			<db:sql >INSERT INTO studentdata (name, address, class,age,gender)
VALUES (:name, :address,:class, :age, :gender);</db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:payload.name,
	address:payload.address,
	class:payload.class,
	age:payload.age,
	gender:payload.gender
	
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
